<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
        <style>
            .loader {
                text-align: center
            }

            .hide{
                display: none
            }
        </style>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Roverside</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
                <a class="nav-item nav-link" href="/mappings">Mappings</a>
                <a class="nav-item nav-link" href="/add">Add Project</a>
                <a class="nav-item nav-link" href="/entities">Entities</a>
                <a class="nav-item nav-link" href="/failures">Failures</a>
                </div>
            </div>
        </nav>
        <div class="fluid-container">
            <br/>
            <div class="row">
                <div class="col col-lg-8">
                    <form style="padding:10px" onsubmit="return getResults()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="query" placeholder="Enter query">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <p class="btn" style="cursor: pointer" onclick="message()"><i class="fas fa-microphone fa-2x"></i></p>
                    </form>
                    <div class="container">
                        <div class="loader hide" id="loader">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="loading"/>
                        </div>
                        <button>Pin Result</button>
                        <button>Incorrect</button>
                        <div id="chart_div"></div>
                        <div id="results">
                            
                        </div>
                    </div>
                 </div>
                 <div class="col col-lg-4" style="background-color:rgb(247, 244, 244);height:100%">
                    <div class="form-group col-md-6">
                        <label for="currentUser">Project Name</label>
                        <select id="currentUser" class="form-control" onchange="choose()">
                            {% for user in users %}
                                <option>{{user}}</option>
                            {% endfor %}
                        </select>
                    </div>
                 </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $('document').ready(function(){
                if (localStorage.current_user){
                    var current_user = localStorage.current_user;
                    var selection = document.getElementById('currentUser');
                    for(var i=0; i<selection.options.length; i++) {
                        if ( selection.options[i].text == current_user ) {
                            selection.selectedIndex = i;
                            break;
                        }
                    }
                }else{
                    var selection = document.getElementById('currentUser').value;
                    console.log('first load as ' + selection);
                    localStorage.current_user = selection;
                }
            });

            function message(){
                console.log("submit");
                var recognition = new webkitSpeechRecognition();
                recognition.onresult = function(event) { 
                var message = event.results[0][0]['transcript'];
                    console.log(message);
                    $('#query').val(message);
                    getResults();
                }
                recognition.start();
                return false
            }

            function choose(){
                var user_name = document.getElementById('currentUser').value
                console.log('choice has been made as ' + user_name);
                localStorage.current_user = user_name;
            }

            function getResults(){
                var results = document.getElementById("results");
                results.innerHTML = "";

                var chart_div = document.getElementById("chart_div");
                chart_div.innerHTML = "";

                var user_name = localStorage.current_user;

                var query = document.getElementById("query").value;
                var loader = document.getElementById("loader");
                loader.classList.remove("hide");
                var data = JSON.stringify({
                    "message": query,
                    "user_name":user_name
                });

                var xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === 4) {
                        try{
                            var resp = jQuery.parseJSON(this.responseText);
                            console.log(resp.entities);
                            console.log(resp.intent);
                            console.log(resp.message);
                            if (resp.type == 'text'){
                                loader.classList.add('hide');
                                loadText(resp.response);
                            }
                            else{
                                loader.classList.add('hide');
                                loadGraph(resp);
                            }
                        } catch (error){
                            if (!resp){
                                loader.classList.add('hide');
                                loadText(this.responseText);
                            }
                        }
                    
                    }
                });

                xhr.open("POST", "/api/messages/http");
                xhr.setRequestHeader("content-type", "application/json");
                xhr.setRequestHeader("cache-control", "no-cache");
                xhr.setRequestHeader("postman-token", "7af1d2a3-0734-9061-3bcb-3db314b49641");

                xhr.send(data);

                return false;
            }

            function loadText(text){
                var results = document.getElementById("results");
                var html = "<p>" + text + "</p>";
                results.innerHTML = html;
            }

            function loadGraph(resp){
                var results = document.getElementById("results");
                var items = resp.response;
                var graph_config = resp.graph;

                var data_list = [];

                var html = "<table class='table'>"
                for (var i=0;i<items.length;i++){
                    var headers = Object.keys(items[0]);
                    if (i == 0){
                        html += "<thead><tr>";
                        for (var j=0;j<headers.length;j++){
                            html += "<th scope='col'>" + headers[j] + "</th>"
                        }
                        html += "</tr></thead><tbody>";
                    }
                    html+="<tr>"
                    var elements = Object.values(items[i]);
                    var gh_elements = items[i]

                    axes = []

                    if (graph_config['x']['type'] == 'date'){
                        axes.push(new Date(gh_elements[graph_config['x']['value']]))
                    }else{
                        axes.push(gh_elements[graph_config['x']['value']])
                    }

                    if (graph_config['y']['type'] == 'date'){
                        axes.push(new Date(gh_elements[graph_config['y']['value']]))
                    }else{
                        axes.push(gh_elements[graph_config['y']['value']])
                    }

                    data_list.push(axes)
                    for (var j=0;j<elements.length;j++){
                        html += "<td>" + elements[j] + "</td>"
                    }
                    html+="</tr>"
                }
                html+="</tbody></table><br/>"
                results.innerHTML = html;

                google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(drawBackgroundColor);

                function drawBackgroundColor() {
                    var data = new google.visualization.DataTable();
                    data.addColumn(graph_config['x']['type'],graph_config['x']['value']);
                    data.addColumn(graph_config['y']['type'],graph_config['y']['value']);

                    data.addRows(data_list);

                    var options = {
                        hAxis: {
                        title: graph_config['x']['name']
                        },
                        vAxis: {
                        title: graph_config['y']['name']
                        },
                        backgroundColor: '#f1f8e9'
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                    }
            }
        </script>
    </body>
</html>